<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <sectionGroup name="xfnlnet">
      <section name="default" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    </sectionGroup>
  </configSections>
  <xfnlnet>
    <default>
      <add key="connecttimeout" value="3"/>
      <add key="host" value="localhost"/>
      <add key="port" value="2356"/>
    </default>
  </xfnlnet>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
</configuration>
